/* table property */
table , th, td {border: 1px solid black;}

table tbody th {font-style: italic; font-weight: normal}

table tbody tr th + td {color: red}

table tbody tr th + td + td + td {color: blue}

table tbody tr:first-child {background-color: #90ee90}

table tbody tr:first-child + tr {background-color: #add8e6}

table tbody tr:first-child + tr + tr {background-color: #90ee90}

table tbody tr:first-child + tr + tr + tr {background-color: #add8e6}

table tbody tr:first-child + tr + tr + tr + tr {background-color: #90ee90}

/* set background color for dd element when hover over dt*/
dl dt:hover + dd{background-color: purple}

/* set div format*/
.outer-content {
	background-color: pink;
	margin-top: 20px;
	width: 75%;
	text-align: center;
}

.inner-content {
	background-color: blue;
	width: 75%;
	margin: auto;
	font-size: 20px;
	font-weight: normal;
}

img{ float: left}